# Score de Risco 

### Criado por João Teles e Rodrigo Sales para discutir os resultados analíticos de como certo modelos de Machine Learning podem se comportar nos dados fonecidos pela empresa Praso.

#### Importação de frameworks para análise preliminar dos dados.

In [ ]:

import pandas as pd

,uf,municipio,segmento_cliente,natureza_juridica,fonte_cliente,cnae_codigo,cnae_descricao,capital_social,idade_cnpj,serasa_contagem_negativacoes,serasa_contagem_protestos,serasa_idade_divida_mais_recente,serasa_credores,serasa_socio_tem_negativacao,ifood_contagem_avaliacoes,ifood_faixa_preco,google_maps_avaliacao,google_maps_contagem_avaliacoes,google_maps_tem_website,inadimplente
0,PE,RECIFE,Restaurante Brasileiro,213-5 - Empresário (Individual),Fonte 5,56.11-2-01,Restaurantes e similares,"(8000, 10000]","(50, 100]",0,0,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,1
1,PE,CHA GRANDE,Pizza & Massas,213-5 - Empresário (Individual),Fonte 2,56.11-2-01,Restaurantes e similares,"(3000, 5000]","(750, 900]",0,0,NaN,NaN,1,NaN,NaN,NaN,NaN,NaN,1
2,PB,JOAO PESSOA,Doces & Confeitaria,213-5 - Empresário (Individual),Fonte 2,10.93-7-01,Fabricação de produtos derivados do cacau e de...,"(200, 1000]","(150, 250]",0,0,NaN,NaN,1,NaN,NaN,NaN,NaN,NaN,0
3,CE,CASCAVEL,Lanches & Salgados,213-5 - Empresário (Individual),Fonte 2,56.20-1-04,Fornecimento de alimentos preparados preponder...,"(1000, 1500]","(100, 150]",0,0,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,1
4,PE,RECIFE,Mercearia & Mercado,213-5 - Empresário (Individual),Fonte 2,56.11-2-03,"Lanchonetes, casas de chá, de sucos e similares","(200, 1000]","(1600, 2000]",1,0,47.0,Bancos e Financeiro,0,NaN,NaN,NaN,NaN,NaN,0

##### Primeiras impressões com tipo de dados, checar os valores nulos e aplicar estatística padrão

In [ ]:
dados_clientes = pd.read_csv('amostra_praso.csv', sep=',')

# Exibe a quantidade de linhas e colunas do DataFrame
print(dados_clientes.shape)

# Exibe as primeiras linhas do DataFrame
print(dados_clientes.head())

(12458, 20)
   uf    municipio        segmento_cliente                natureza_juridica  \
0  PE       RECIFE  Restaurante Brasileiro  213-5 - Empresário (Individual)
1  PE   CHA GRANDE          Pizza & Massas  213-5 - Empresário (Individual)
2  PB  JOAO PESSOA     Doces & Confeitaria  213-5 - Empresário (Individual)
3  CE     CASCAVEL      Lanches & Salgados  213-5 - Empresário (Individual)
4  PE       RECIFE     Mercearia & Mercado  213-5 - Empresário (Individual)

  fonte_cliente cnae_codigo  \
0       Fonte 5  56.11-2-01
1       Fonte 2  56.11-2-01
2       Fonte 2  10.93-7-01
3       Fonte 2  56.20-1-04
4       Fonte 2  56.11-2-03

                                      cnae_descricao capital_social  \
0                           Restaurantes e similares  (8000, 10000]
1                           Restaurantes e similares   (3000, 5000]
2  Fabricação de produtos derivados do cacau e de...    (200, 1000]
3  Fornecimento de alimentos preparados preponder...   (1000, 1500]
4    Lanchonetes, casas de chá, de sucos e similares    (200, 1000]

     idade_cnpj  serasa_contagem_negativacoes  serasa_contagem_protestos  \
0     (50, 100]                             0                          0
1    (750, 900]                             0                          0
2    (150, 250]                             0                          0
3    (100, 150]                             0                          0
4  (1600, 2000]                             1                          0

   serasa_idade_divida_mais_recente      serasa_credores  \
0                               NaN                  NaN
1                               NaN                  NaN
2                               NaN                  NaN
3                               NaN                  NaN
4                              47.0  Bancos e Financeiro

   serasa_socio_tem_negativacao ifood_contagem_avaliacoes ifood_faixa_preco  \
0                             0                       NaN               NaN
1                             1                       NaN               NaN
2                             1                       NaN               NaN
3                             0                       NaN               NaN
4                             0                       NaN               NaN

  google_maps_avaliacao google_maps_contagem_avaliacoes  \
0                   NaN                             NaN
1                   NaN                             NaN
2                   NaN                             NaN
3                   NaN                             NaN
4                   NaN                             NaN

   google_maps_tem_website  inadimplente
0                      NaN             1
1                      NaN             1
2                      NaN             0
3                      NaN             1
4                      NaN             0

In [8]:
# Informações gerais
dados_clientes.info()

# Estatísticas descritivas
dados_clientes.describe()

# Verificando valores nulos
dados_clientes.isnull().sum()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12458 entries, 0 to 12457
Data columns (total 20 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   uf                                12458 non-null  object
 1   municipio                         12458 non-null  object
 2   segmento_cliente                  12458 non-null  object
 3   natureza_juridica                 12458 non-null  object
 4   fonte_cliente                     12458 non-null  object
 5   cnae_codigo                       12458 non-null  object
 6   cnae_descricao                    12458 non-null  object
 7   capital_social                    12458 non-null  object
 8   idade_cnpj                        12458 non-null  object
 9   serasa_contagem_negativacoes      12458 non-null  int64
 10  serasa_contagem_protestos         12458 non-null  int64
 11  serasa_idade_divida_mais_recente  2356 non-null   float64
 12  serasa_credores                   1975 non-null   object
 13  serasa_socio_tem_negativacao      12458 non-null  int64
 14  ifood_contagem_avaliacoes         480 non-null    object
 15  ifood_faixa_preco                 854 non-null    object
 16  google_maps_avaliacao             865 non-null    object
 17  google_maps_contagem_avaliacoes   1038 non-null   object
 18  google_maps_tem_website           1038 non-null   float64
 19  inadimplente                      12458 non-null  int64
dtypes: float64(2), int64(4), object(14)
memory usage: 1.9+ MB

uf                                      0
municipio                               0
segmento_cliente                        0
natureza_juridica                       0
fonte_cliente                           0
cnae_codigo                             0
cnae_descricao                          0
capital_social                          0
idade_cnpj                              0
serasa_contagem_negativacoes            0
serasa_contagem_protestos               0
serasa_idade_divida_mais_recente    10102
serasa_credores                     10483
serasa_socio_tem_negativacao            0
ifood_contagem_avaliacoes           11978
ifood_faixa_preco                   11604
google_maps_avaliacao               11593
google_maps_contagem_avaliacoes     11420
google_maps_tem_website             11420
inadimplente                            0
dtype: int64

##### Corrigir tipo de dados de capital_social e idade_cnpj para numérico.

In [ ]:
# Remover caracteres não numéricos e converter para float
dados_clientes["capital_social"] = dados_clientes["capital_social"].str.replace(r"\D", "", regex=True).astype(float)
dados_clientes["idade_cnpj"] = dados_clientes["idade_cnpj"].astype(float)

##### Como pode-se resolver o problema de dados nulos em diversas colunas?
##### Média/Mediana, caso os valores sejam distribuídos normalmente.
##### Zero, se fizer sentido como um dado ausente real.

In [ ]:
dados_clientes["serasa_idade_divida_mais_recente"].fillna(dados_clientes["serasa_idade_divida_mais_recente"].median(), inplace=True)

##### Para Variáveis Categóricas
##### Podemos preencher valores nulos com "Desconhecido" ou "Não Informado".

In [ ]:
dados_clientes["ifood_faixa_preco"].fillna("Não Informado", inplace=True)
dados_clientes["google_maps_avaliacao"].fillna(0, inplace=True)  # Considerar 0 como sem avaliação
dados_clientes["google_maps_tem_website"].fillna(0, inplace=True)  # Transformar NaN em 0 (não tem site)

##### Criar Indicadores de Nulos 
##### Criar uma feature binária para indicar ausência de informações.

In [ ]:
dados_clientes["tem_divida"] = dados_clientes["serasa_idade_divida_mais_recente"].notnull().astype(int)
dados_clientes["tem_ifood_avaliacoes"] = dados_clientes["ifood_contagem_avaliacoes"].notnull().astype(int)

### Feature engineering

##### Agrupar o CNAE como sugerido, ...

#### Label Enconding para as variáveis com poucas categorias.